.owl-carousel{
	.owl-nav {
		margin-top: 15px;
		text-align: center;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		.owl-prev, .owl-next {
			display: inline-block;
			vertical-align: middle;
			border: 3px solid $light-color;
			background: $brand-secondary;
			margin:3px;
			outline: none;
			border-radius: 50%;
			width: 40px;
			box-shadow: 0 0 12px 1px rgba(0,0,0,0.1);
			height:40px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: $brand-third;
				border-color: $light-color;
				i{
					&:before{
						color: #fff;
					}
				}
			}
		}
		i{
			&:before {
				color: $light-color;
				position: relative;
				text-align: center;
				font-size:19px;
				line-height:35px;
				font-weight: 600;
				text-align: center;
				margin: 0 auto;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
		}
		.owl-next{
			i{
				&:before{
					margin-right:-3px;
				}
			}
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 15px;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		.owl-dot {
			display: inline-block;
			vertical-align: middle;
			outline: none;
			span {
				width: 12px;
				height: 12px;
				border-radius: 50px;
				background: $brand-secondary;
				border: 1px solid $brand-primary;
				margin: 0 5px;
				display: block;
			}
			&.active {
				span {
					background: $brand-primary;
					border-color: $brand-primary;
				}
			}
		}
		&.ishi-style-dot1 {
			.owl-dot {
				span {
					border-radius: 0;
				}
			}
		}
		&.ishi-style-dot2 {
			.owl-dot {
				span {
					border-radius: 50%;
					border: 1px solid $brand-primary;
					background: transparent;
				}
				&.active{
					span{
						border-color:$brand-primary;
						background: $brand-primary;
					}
				}
			}
		}
		&.ishi-style-dot3 {
			.owl-dot {
				span {
					border-radius: 0;
					transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
				}
			}
		}
		&.ishi-style-dot4 {
			.owl-dot {
				span {
					width: 25px;
					height: 5px;
					border-radius: 0;
				}
			}
		}
		&.ishi-style-dot5 {
			.owl-dot {
				span {
					width: 25px;
					height: 6px;
					border-radius: 5px;
				}
			}
		}
	}
}