#product-compare {
	.btn-danger, .btn-primary {
		margin: 2px 0;
	}
	@media (max-width: 991px) {/* If media is below 992 */
		.table-bordered {
		    float: left;
		    width: 100%;
		    overflow: auto;
		    display: inline;
		}
	}
}
.product_carousel {
	display: block;
	position: relative;
	@media (max-width: 767px) {
		/* If media is below 768 */
		overflow: hidden;
	}
	.carousel-container {
		display: block;
		margin-bottom: 20px;
		.item_image {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.owl-nav {
			@media (max-width: 544px) {
				/* If media is below 543 */
				margin-top: 15px;
			}

			.owl-prev,
			.owl-next {
				top: 55%;
			}
		}
	}

	@keyframes slide-down {
		0% {
			transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
		}

		100% {
			transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			-moz-transform: translateY(0);
		}
	}
}

.product-left {
	position: relative;
	display: block;
	.thumbnail {
		border: 1px solid #eee;
		border-radius: 0;
		margin-bottom: 0;
		padding: 0;

		img {
			width: 100%;
		}

		&:hover,
		&:focus {
			border-color: #eee;
		}
	}

	.image-carousel {
		position: sticky;
		position: -webkit-sticky;
		top: 80px;
	}
}

.product-left-title {
	padding-bottom: 8px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	@media (max-width: 767px) {
		border: 0;
		padding: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	.product-title {
		font-size: 30px;
		font-weight: 500;
		text-transform: capitalize;
		margin: 0 0 12px;
		color: #333;
		line-height: 30px;
		@media (max-width: 543px) {
			/* If media is below 544 */
			font-size: 24px;
		}
	}
	.price {
		margin-bottom: 20px;
		font-size: 13px;
		line-height: 22px;

		.product-price {
			@media (max-width: 767px) {
				/* iIf media is below 768 */
				margin: 0;
			}
			margin: 0 0 15px;
			font-size: 18px;
			font-weight: 400;
			display: inline-block;
			vertical-align: middle;
			h2 {
				margin: 0;
				font-size: 22px;
				color: $brand-primary;
			}
		}
		.product-dis {
			@media (max-width: 767px) {
				/* iIf media is below 768 */
				margin: 0;
			}
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			color: #888888;
			font-weight: 500;
			margin: 0 10px 15px;
		}
		hr {
			border: 0;
		}
	}
}

.product-image {
	.additional-carousel {
		.image-additional {
			&.active {
				border: 2px solid #dddddd;
			}

			margin-bottom: 15px;
		}
	}
	.image_show {
		#slider_carousel {
			padding: 0 12px 15px;
			.owl-nav {
				margin: 0;
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				margin-top: -25px;
				.owl-prev,
				.owl-next {
					left: 0;
					right: auto;
					position: absolute;
					width: 35px;
					height: 35px;
					overflow: hidden;
					margin: 0;
					i {
						&:before {
							font-size: 18px;
							line-height: 30px;
						}
					}
				}

				.owl-next {
					right: 0;
					left: auto;
				}
			}
		}
	}
}

.tab-description {
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: .3px;
	padding: 0 15px;
	ul {
		padding: 0 15px;
		li{
			color: #666;
			font-weight: 400;
		}
	}
	p{
		color: #666;
		font-weight: 400;
	}
	b{
		color: #232323;
		font-size: 14px;
	}
}
#tab-review{
	b, strong{
		font-weight: 500;
	}
	h2{
		font-size: 20px;
	}
}
.social-toolbox {
	margin-bottom: 10px;
	display: block;
	.addthis_toolbox {
		display: inline-block;
		vertical-align: top;

		a {
			margin-bottom: 0;
			vertical-align: middle;
		}

		.addthis_pill_style {
			height: auto;
		}
	}
}
#product{
	display: block;
	overflow: hidden;
}
.product-right {
	position: -webkit-sticky;
	position: sticky;
	top: 80px;
	margin-bottom: 30px;
	.rating-wrapper {
		margin: 10px 0 20px;
		color: #888888;
		.fa-star,
		.fa-star-o {
			color: #cccccc;
			font-size: 13px;
			line-height: 6px;
		}
		.yellow {
			color: #fec42d;
		}
		.gray {
			color: #cccccc;
		}

		span {
			&.fa-stack {
				width: 8px;
				height: 8px;
				margin-right: 3px;
			}
		}

		.review-count,
		.write-review {
			margin: 0 10px;
			color: #888888;
		}
	}
	/*==========================To Override theme.scss ==========================*/
	.countdown-container {
		position: unset;
		margin-left: 0;
		max-width: 270px;	
		@media (max-width: 543px) {/* If media is below 544 */
			padding: 4px;		}
	  	.counter{
		    .data{    
				width: 60px;     
				@media screen and (min-width: 768px) and (max-width: 991px) {/* If media is between 768 and 991 */
					
					font-size: 18px;
					margin-bottom: 2px;
				}
				@media (max-width: 475px) {
					height: 25px;
					font-size: 18px;
				}
				@media (max-width: 375px) {
					font-size: 18px;
				}
		    }
		    .lbl{
				@media screen and (min-width: 768px) and (max-width: 991px) {/* If media is between 768 and 991 */
					font-size: 13px;
				}
		      	@media (max-width: 475px) {/* If media is below 476 */
					font-size: 13px;
				}
				@media (max-width: 375px) {/* If media is below 376 */
					font-size: 13px;
				}
		    }
		}    
	}

	.list-unstyled {
		margin-bottom: 0;
		&.attr {
			padding: 20px 0 0;
			border-top: 1px solid #eeeeee;
			margin-bottom: 20px;
			display: block;
			overflow: hidden;
			text-align: center;
			@media (max-width: 767px) {/* If media is below 768 */
				margin-bottom: 0;
			}
			li {
				@media (min-width: 1199px) {
					/* If media is above 1200 */
					width: 48%;
				}
				@media screen and (min-width: 768px) and (max-width: 1199px) {
					/* If media is between 992 and 1310px */
					width: 47%;
				}
				@media screen and (min-width: 435px) and (max-width: 767px) {
					/* If media is between 430 and 767 */
					width: 48%;
				}
				@media (max-width: 435px) {
					/* If media is below 430 */
					width: 47%;
				}
				line-height: 35px;
				padding: 5px 5px 0;
				float: left;
				border: 1px solid #eee;
				margin-right: 15px;				
				color: #666666;
				margin-bottom: 15px;
				&:nth-child(3n+3),
				&:nth-child(4n+4) {
					margin-bottom: 0;
				}
				&:nth-child(3n+2),
				&:nth-child(4n+4) {
					margin-right: 0;
				}
				span {
					@media (max-width: 410px) {
						/* If media is below 558 */
						font-size: 12px;
					}
					font-weight: 400;
					color: #232323;
					font-size: 13px;
					display: block;
					text-transform: uppercase;
					background: #f4f4f4;
					padding: 0;
				}
				a {
					color: #666666;
				}
			}
		}

		&.price {
			margin-bottom: 20px;
			font-size: 13px;
			line-height: 24px;
			font-weight: 500;
			color: #232323;
			display: block;
			@media (max-width: 543px) {/* If media is below 544 */
				display: none;
			}
			.product-price {
				margin-bottom: 8px;
				display: inline-block;
				vertical-align: middle;
				color: $brand-primary;
				h2 {
					margin: 0;
					font-size: 24px;
					font-weight: 500;
					color: $brand-primary;
				}
			}
			.product-dis {
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
				color: #888888;
				font-weight: 500;
				margin: 0 10px 8px;
				@media (max-width: 767px) {
					/* If media is below 768 */
					margin: 0 0px 0;
				}
			}
			hr {
				border: 0;
				margin: 0;
			}
		}
	}
	
	.form-group {
		margin-bottom: 20px;
		position: relative;
		clear: both;
		color: #232323;
		font-weight: 500;
		.control-label {
			float: left;
			margin: 8px 8px 8px 0;
			font-size: 14px;
			&.radio-text,
			&.checkbox-text {
				float: none;
				margin: 0;
			}
		}
		#input-quantity {
			margin-right: 6px;
			margin-bottom: 0;
			width: auto;
			float: left;
			height: 37px;
			text-align: center;
			@media (max-width: 342px) {
				/* If media is below 343 */
				padding: 6px 5px;
			}
		}
		#button-cart {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			padding: 7px 15px;
			padding-top:8px;
			font-size: 14px;
			line-height: 20px;
			@media (max-width: 378px) {
				/* If media is below 377 */
				font-size: 12px;
				padding: 7px 10px;
			}
			@media (max-width: 342px) {
				/* If media is below 343 */
				padding: 7px 6px;
			}
		}
		.wishlist,
		.compare {
			@media (max-width: 378px) {
				/* If media is below 377 */
				margin: 0;
			}
			padding: 0;
			fill: $btn-secondary-text-color;
			display: inline-block;
			vertical-align: middle;
			height: 36px;
			width: 36px;
			border: 0;
			text-align: center;
			text-transform: capitalize;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			i {
				display: none;
			}
			&:hover {
				fill: $btn-hover-secondary-text-color;
			}
		}
		.input-group {
			&.date,
			&.time,
			&.datetime {
				display: inline-table;

				.btn-default {
					padding:4px 18px;
				}
			}
		}
		.btn-file {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
	.sold-out {
		cursor: not-allowed;
	}
	.addthis_toolbox {
		margin-bottom: 10px;
	}
	.product_option {
		.checkbox label,
		.radio label {
			font-size: 13px;
			color: #666;
		}
		@media (min-width: 544px) {
			/* If media is above 543 */
			&:nth-child(2n+1) {
				clear: right;
			}
		}
	}
}

.tabs_info {
	@media (max-width: 991px) {
		/* If media is below 992 */
		margin-bottom: 30px;
	}
	margin-top: 10px;
	margin-bottom: 50px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;

	.collapse.in {
		display: block;
	}

	.collapse {
		display: none;
	}

	.panel-group {
		margin-bottom: 0px;
		.panel {
			border: 0;
			border-radius: 0;
			margin: 0;
			border-bottom: 1px solid #eeeeee;
			+.panel {
				margin: 0;
			}

			&:last-child {
				border-bottom: 0;
			}

			.panel-body {
				border-color: #eeeeee;
			}
		}
	}

	.panel-heading {
		padding: 0;
		background: transparent;
		border: 0;
		a {
			@media (max-width: 543px) {
				/* If media is below 544 */
				padding: 15px 10px;
			}

			color: #000;
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 13px;
			padding: 20px 15px;

			&::after {
				content: "";
				position: relative;
				top: 1px;
				font-family: 'FontAwesome';
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				float: right;
				transition: transform .25s linear;
				-webkit-transition: -webkit-transform .25s linear;
			}

			&[aria-expanded="true"]:after {
				content: "\f068";
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			&[aria-expanded="false"]:after {
				content: "\f067";
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}
	#tab-review {
		.fa-stack {
			width: 16px;
			height: 20px;
			.fa-star,
			.fa-star-o {
				font-size: 17px;
				color: #cccccc;
			}
			.yellow {
				color: #fec42d;
			}
			.gray {
				color: #cccccc;
			}
		}
		.form-horizontal {
			.form-group {
				.control-label {
					padding-top: 0;
					margin-bottom: 10px;
				}
				.radio-title {
					margin-bottom: 0;
					position: relative;
					top: 1px;
				}
			}
		}
		.form-radio {
			display: inline-block;
			vertical-align: middle;
			span {
				position: relative;
				top: 0;
			}
			input[type="radio"] {
				margin: 0;
				position: relative;
				top: 1px;
			}
		}
	}

	#tab-specification {
		table {
			thead {
				tr {
					td {
						background: #f7f7f7;
					}
				}
			}
		}
	}
}
#product-product {
	#content{
		padding: 0;
	}
	.related-product {
		text-align: center;
		margin-bottom: 30px;
		.home-title{
			margin-bottom:15px;
		}
		@media (max-width: 543px) {/* If media is below 544 */
			margin: 0 -10px;
			margin-bottom: 30px;
		}
		.owl-nav{
			margin-top: 0;
		}
	}
}