#_desktop_seach_widget {
  @media (min-width: 992px) {/* If media is above 1199 */
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
}
.search-widget { 
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  @media (max-width: 991px) {/* If media is below 992 */
    float: right;
    position: relative;
  }
  .search-logo{
    @media(min-width: 992px){
      stroke-width: 30px;
      stroke: $light-color;
      width: 55px;
      height: 55px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;
      position: relative;
      fill: $icon-color;
    }
    @media(max-width: 1199px){
      width:45px;
      height:45px;
    } 
    @media(min-width: 992px){
      background: $brand-secondary;
      box-shadow: 0 0 8px 0 rgba(0, 0,0,0.2);
      border: 4px solid $light-color;
      border-radius: 50%;
    }
    @media (max-width: 991px) {/* If media is below 992 */
      fill: $icon-responsivecolor;
      width:40px;
      height:40px;
      border-radius:0;
      display:block;
    }
    &:hover{
      @media(min-width: 992px){
        background-color: $brand-third;
      }
    }
  }
  form {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 9;
    width: auto;
    display: none;
    @media(max-width: 991px){
      left: 0;
      top:45px;
      right: auto;
    }
    input[type="text"] { 
      min-width:280px;
      width: 100%;
      border: none;
      height: 45px;
      border-radius: 30px !important;
      border: 1px solid #eeeeee;
      margin: 0;
      padding-right:60px;
      background: $light-color;
      text-transform: capitalize;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.8px;
      color: #a5a5a5;
      @media (max-width: 543px) {/* If media is below 992 */
          min-width: 250px;
        }
      &:focus{
        @media (max-width: 991px) {/* If media is below 992 */
          background: $light-color;
        }
      }
      &::placeholder{
        color: #a5a5a5;
      }

    }
    .input-group-btn {
      position: absolute;
      right: 0;
    }
    button {
      position: absolute !important;
      right: 0;
      border: none;
      background: $brand-secondary;
      height: 45px;
      width:auto;
      font-size: 17px;
      font-weight: 400;
      color: $icon-color;
      padding:0 18px;
      border-radius: 0 30px 30px 0;
      outline: none;
      z-index: 11;
      -ms-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      &:hover, &:focus {
        border: 0;
        background-color: $brand-third  ;
        color:#fff;
      }
      &:active {
        &:focus {
          color: #000000;
          background-color: transparent;
          border: 0;
        }
      }
    }
  }
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  #_desktop_seach_widget {
    float: none;
    padding: 0;
    position: unset;
  }
  .search-widget {
    position: relative;
    padding: 0;
    .search-logo {
        display: none;
    }
    form {
      display: inline-block;
      top: 0;
      position: relative;
      opacity: 1;
      visibility: visible;
    }
  }
}

.ajaxishi-search {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  height: auto;
  max-height: 368px;
  overflow-y: scroll;
  scrollbar-width: thin;  
  background: #ffffff;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .1);
  ul {
    margin: 0;
    li {
      text-decoration: none;
      list-style: none;
      &:last-child {
        > div {
          border-bottom: 0;
        }
      }
      > div {
        display: block;
        position: relative;
        overflow: hidden;
        padding: 15px;
        border-bottom: 1px solid #eee;
        a {
          display: block;
          position: relative;
          overflow: hidden;
        }
        .product-image {
          float: left;
          margin-right: 12px;
          border:1px solid #eee;
        }   
        .product-desc {
          text-align: left;
          .product-name {
            margin-bottom: 5px;
            color: $brand-primary;
          }
          .product-price {
            .special {
              color:#888;
              text-decoration: line-through;
              display: inline-block;
              vertical-align: middle;
              margin-right: 8px;
            }
            .price {
              color: $brand-primary;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border: 1px solid #f0f0f0;
  }
  
  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
}