$brand-primary: #000000;
$brand-secondary: #ffea00;
$brand-third: #dd0e0a;
$icon-color: #ffffff;
$icon-responsivecolor: #000000;
$breadcrumb_color:#f7f7f7;
$breadcrumb_image:"";
$rgba-bgcolor:rgba(255, 234, 0, .6);
$btn-primary-bg-color:#ffea00;
$btn-hover-primary-bg-color:#dd0e0a;
$btn-primary-text-color:#ffffff;
$btn-hover-primary-text-color:#ffffff;
$btn-secondary-bg-color:#dd0e0a;
$btn-hover-secondary-bg-color:#ffea00;
$btn-secondary-text-color:#ffffff;
$btn-hover-secondary-text-color:#ffffff;
$header-top-bg-color:#ffea00;
$header-top-text-color:#ffffff;
$header-bg-color:#ffffff;
$header-text-color:#222222;
$header-hover-text-color:#000000;
$product-icon-color:#ffffff;
$product-hover-icon-color:#ffffff;
$footer-bg-color:#faf4f2;
$footer-bg-image:"https://new.dwisurya.co.id/image/catalog/footer-background.png";
$footer-title-color:#232323;
$footer-text-color:#787878;
$footer-hover-text-color:#dd0e0a;
